*{
  margin: 0;
  padding: 0;
}
body{
  background: #d3d3d3;
}
body h1 b{
  justify-content:center;
  display:flex;
}
.main{
  width:100%;
  min-height: calc(100vh - 45px);
  max-height: max-content;
  background-image:linear-gradient(rgba(63, 63, 63, 0.4), rgba(243, 243, 243, 1), rgba(63, 63, 63, 0.4), rgba(243, 243, 243, 1));
  margin-top: 25px;
  margin-bottom: 20px;
  }
.main h1{
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
.contain{
display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  margin: 0 auto;
  width:80vw;
  height: max-content;
  }
.cells{
display: flex;
  flex-direction: column;
  background:transparent;
  padding: 1em;
}
.cells iframe{
width: 80%;
height: 200%;
}
@media only screen and (min-width:768px) {
  .contain{ 
    grid-template-columns:auto auto;
  }
}
@media only screen and (min-width:1000px) {
  .contain{ 
    grid-template-columns:auto auto auto;
  }
}
